<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mile Partner Admin</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--== FAV ICON ==-->
    <link rel="shortcut icon" href="images/fav.ico">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mob.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/materialize.css" />
    <script src="js/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!--== MAIN CONTRAINER ==-->
    <div class="container-fluid sb1">
        <div class="row" id="nav">
            <!-- navbar -->
            <script>
                $('#nav').load("temp/navbar.html");
            </script>
        </div>
    </div>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-1" id="leftside">
                <!-- left side bar -->
                <script>
                    $('#leftside').load("temp/left-sec.html");
                </script>
            </div>
            <!--== center part ==-->
            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Add Hotel</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-add-blog sb2-2-1">
                    <h2>Add Hotel Details</h2>
                    <br>
                    <ul class="nav nav-tabs tab-list" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-info"
                                    aria-hidden="true"></i> <span>Detail</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#menu1"><i class="fa fa-bed" aria-hidden="true"></i> <span>Room
                                    Type</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#menu2"><i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span>Photo Gallery</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#menu3"><i class="fa fa-facebook" aria-hidden="true"></i>
                                <span>Social Media</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#menu4"><i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Contact Info</span></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="box-inn-sp">
                                <br>
                                <h4 style="padding-left: 0.8%;">Listing Information</h4>
                                <div class="bor">
                                    <form>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="list-title" type="text" class="validate" ng-model="LN">
                                                <label for="list-title">Listing Name</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="list-name" type="text" class="validate" ng-model="CP">
                                                <label for="list-name">Contact Person</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="textarea1" class="materialize-textarea"
                                                    ng-model="LD"></textarea>
                                                <label for="textarea1">Listing Descriptions:</label>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="input-field col s6">
                                                <select multiple ng-model="A">
                                                    <option value="" disabled selected>Choose Category</option>
                                                    <option value="1">Hotels</option>
                                                    <option value="2">Educations</option>
                                                    <option value="3">Medical</option>
                                                    <option value="3">Health</option>
                                                    <option value="3">Fitness</option>
                                                    <option value="3">Tution</option>
                                                    <option value="3">Software</option>
                                                    <option value="3">Wedding</option>
                                                    <option value="3">Party</option>
                                                    <option value="3">Spa/Club</option>
                                                </select>
                                                <label>Select Amenities</label>
                                            </div>
                                            <div class="input-field col s3">
                                                <select ng-model="B" id="paidtype">
                                                    <option value="" disabled selected>Choose</option>
                                                    <option value="0">Prepaid</option>
                                                    <option value="1">Postpaid</option>
                                                </select>
                                                <label>Pre or Postpaid</label>
                                            </div>
                                            <div class="input-field col s3" id="amount" style="display: none;">
                                                <input id="amount-title" type="text" class="validate" ng-model="amount">
                                                <label for="amount-title">Amount</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="button" class="waves-effect waves-light btn-large"
                                                    value="Next" onclick='pass(1);' ng-click='Add_detail();'>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <br>
                            <h4 style="padding-left: 0.5%;">Hotel Room Details</h4>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <h1><u>Entered rooms</u></h1>
                                    <ul ng-repeat="data in room_data">
                                        <li>{{data.category}} and  Price = Rs. {{data.price}}</li>
                                    </ul> -->

                                    <div class="box-inn-sp">
                                        <br>
                                        <h4 style="padding-left: 5%;"> Available rooms</h4>
                                        <div class="tab-inn">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Category</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="data in room_data">
                                                        <td>{{data.category}} </td>
                                                        <td>Rs. {{data.price}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- form -->
                            <div class="bor">
                                <form id="myForm">
                                    <!-- form data -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select ng-model="Category" id="roomtype">
                                                <option value="" disabled selected>Room Type</option>
                                                <option value="Deluxe">Deluxe</option>
                                                <option value="Premium">Premium</option>
                                                <option value="Premium Plus">Premium Plus</option>
                                                <option value="Non-Deluxe">Non-Deluxe</option>
                                                <option value="Normal">Normal</option>
                                            </select>
                                            <label>Select Category</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="t2-price" type="number" class="validate" ng-model="Price">
                                            <label for="t2-price">Price</label>
                                        </div>
                                    </div>
                                    <!-- next btn -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="button" class="waves-effect waves-light btn-large" value="Next"
                                                onclick='pass(2);' ng-click="Add_room()">
                                        </div>
                                    </div>
                                    <!-- rest btn -->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="reset" id="empty" class="waves-effect waves-light btn-large"
                                                value="RESET" style="display: none;">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div id="here"></div>
                            <!-- add more btn -->
                            <div class="plus-box">
                                <button type="button" id="addbtn" class="button button3" ng-click="Add_room()">Add
                                    More</button>
                            </div>
                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <br>
                            <h4 style="padding-left: 0.5%;">Photo Gallery</h4>
                            <div class="bor">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text"
                                                placeholder="Upload one or more files">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="button" class="waves-effect waves-light btn-large" value="Next"
                                                onclick='pass(3);'>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <br>
                            <h4 style="padding-left: 0.5%;">Social Media</h4>
                            <div class="bor">
                                <form>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc1" type="text" value="http://facebook.com/"
                                                class="validate" ng-model="FB">
                                            <label for="t4-soc1">Facebook Url</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc2" type="text" value="http://google.com/gplus"
                                                class="validate" ng-model="GP">
                                            <label for="t4-soc2">Google Plus Url</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc3" type="text" value="http://twitter.com/" class="validate"
                                                ng-model="T">
                                            <label for="t4-soc3">Twitter Url</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc4" type="text" value="http://Linkedin.com/"
                                                class="validate" ng-model="LIN">
                                            <label for="t4-soc4">Linkedin Url</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc5" type="text" class="validate" ng-model="WN">
                                            <label for="t4-soc5">WhatsApp Number</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t4-soc6" type="text" value="http://vk.com/" class="validate"
                                                ng-model="VK">
                                            <label for="t4-soc6">Vk Url</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="button" class="waves-effect waves-light btn-large" value="Next"
                                                onclick='pass(4);' ng-click="Add_Social()">
                                        </div>i
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="menu4" class="tab-pane fade">
                            <br>
                            <h4 style="padding-left: 0.5%;">Contact Info</h4>
                            <div class="bor">
                                <form>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="t5-n1" type="text" class="validate" ng-model="CN">
                                            <label for="t5-n1">Contact Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="t5-n2" type="text" class="validate" ng-model="ACN">
                                            <label for="t5-n2">Alter Contact Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="t5-n3" type="number" class="validate" ng-model="PH">
                                            <label for="t5-n3">Phone</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="t5-n4" type="number" class="validate" ng-model="MNO">
                                            <label for="t5-n4">Mobile</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="t5-n5" type="email" class="validate" ng-model="E">
                                            <label for="t5-n5">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="t5-n6" class="materialize-textarea" ng-model="ADD"></textarea>
                                            <label for="t5-n6">Address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="submit" class="waves-effect waves-light btn-large"
                                                value="Upload" ng-click="Add_Contact()">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--== BOTTOM FLOAT ICON ==-->
    <section>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large red pulse">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                </li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                </li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                </li>
            </ul>
        </div>
    </section>

    <!--======== SCRIPT FILES =========-->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/angularjs.js"></script>
    <script src="js/mycode.js"></script>

    <!-- SCRIPT -->
    <script>
        function pass(id) {
            if (id == 1) {
                $('#myTab a[href="#menu1"]').tab('show');
            } else if (id == 2) {
                $('#myTab a[href="#menu2"]').tab('show');

            } else if (id == 3) {
                $('#myTab a[href="#menu3"]').tab('show');

            } else if (id == 4) {
                $('#myTab a[href="#menu4"]').tab('show');
            }
        }
        $(document).ready(function () {
            $("#roomtype").change(function () {
                $(this).children("option:selected").attr('disabled','disabled');;
            });
        });   
        // $(document).ready(function () {
        //     $('#addbtn').on('click', function () {
        //         $("#empty").trigger("click");
        //     });
        // });
    </script>
    <!-- amount btn show hide code -->
    <script>
        $(document).ready(function () {
            $("#paidtype").change(function () {
                var selectedType = $(this).children("option:selected").val();
                if (selectedType == 0) {
                    $('#amount').fadeIn(250);
                } else {
                    $('#amount').fadeOut(250);
                }
            });
        });
    </script>

</body>

</html>